table.connect-four-board {
  border-collapse: collapse;
}

table.connect-four-board td {
  --width: 50px;

  border: 1px solid black;
  width: var(--width);
  height: var(--width);
}

table.connect-four-board .indicator {
  border: 0;
}

td {
  margin: 0;
  padding: 0;
}

td .coin {
  --width: 40px;

  width: var(--width);
  height: var(--width);
  margin: auto auto;
  border-radius: calc(var(--width) / 2);

}

td .coin.occupied-1 {
  background-color: red;
}

td .coin.occupied-2 {
  background-color: blue;
}

button {
  margin-top: 10px;
}
