#result {
    display: block;
    margin-top: 25px;
    background-color: lightgray;
    width: 90%;
    max-width: 350px;
}

#input {
    width: 90%;
    max-width: 350px;
}

button {
    margin-left: 5px;
}

p {
    color: red;
}  